//====================================================================================================
.footer {
	background-color: $mainDarkColor;
	@include adaptiveValue("padding-top", 50, 20);
	padding-bottom: rem(20);
	color: $mainWhiteColor;
	// .footer__container

	&__container {
	}

	// .footer__logo

	&__logo {
	}

	// .footer__body

	&__body {
		@include adaptiveValue("padding-top", 50, 30);
		@include adaptiveValue("padding-bottom", 50, 30);
		display: flex;
		font-size: rem(16);
		line-height: math.div(20, 16);
		@media (max-width: $tablet) {
			flex-direction: column;
			gap: rem(40);
		}
	}

	// .footer__row

	&__column {
		flex: 0 0 33.333%;
	}

	// .footer__text

	&__text {
		display: flex;
		flex-direction: column;
		gap: rem(15);
	}

	// .footer__items

	&__items {
		span {
			font-weight: 700;
		}
	}

	// .footer__item

	&__item {
		position: relative;
		padding-left: rem(40);
		&::before {
			content: "";
			position: absolute;
			width: rem(20);
			height: rem(2);
			top: rem(8);
			left: 0;
			background-color: $mainColorYellow;
		}
	}

	// .footer__list

	&__list {
		display: flex;
		flex-direction: column;
		gap: rem(20);
		font-weight: 600;
	}

	// .footer__contacts

	&__contacts {
	}

	// .footer__footer

	&__footer {
		font-size: rem(16);
		line-height: math.div(20, 16);
		border-top: 2px solid $mainColorYellow;
		padding-top: rem(20);
		a {
			transition: all 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
					color: $mainColorYellow;
				}
			}
		}
	}
}
.contacts-footer {
	// .contacts-footer__body

	&__body {
		display: flex;
		flex-direction: column;
		gap: rem(30);
	}

	// .contacts-footer__row

	&__row {
		display: flex;
		flex-direction: column;
		gap: rem(10);
	}

	// .contacts-footer__title

	&__title {
		font-weight: 700;
	}

	// .contacts-footer__text

	&__text {
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $mainColorYellow;
			}
		}
	}

	// .contacts-footer__icons

	&__icons {
		display: flex;
		font-size: rem(25);
		gap: rem(25);
		a {
			transition: all 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					transform: rotate(-360deg);
					color: $mainColorYellow;
				}
			}
		}
	}

	// .contacts-footer__link

	&__link {
	}
}

//====================================================================================================
